    input[type='text'], input[type='color'] {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0.5em;
        margin-bottom: 1em;
        border: 1px solid #777;
    }
    input[type='submit'] {
        padding: 0.5em 2em;
        background-color: #646cff;
        color: white;
    }
    .ChartSettings {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }